<!DOCTYPE html>
<html>
<head>
    <title>Login - Physiologic PRISM</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.username.label }}
            {{ form.username(class="input-field") }}

            {{ form.password.label }}
            {{ form.password(class="input-field") }}

            {{ form.submit(class="button") }}
        </form>
        <br>
        <a href="/register">New user? Register here</a>
    </div>
</body>
</html>
