<!DOCTYPE html>
<html>
<head>
    <title>Register - Physiologic PRISM</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>Individual Physiotherapist Registration</h2>
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label }}<br>
            {{ form.name(class="input-field") }}

            {{ form.email.label }}<br>
            {{ form.email(class="input-field") }}

            {{ form.phone.label }}<br>
            {{ form.phone(class="input-field") }}

            {{ form.password.label }}<br>
            {{ form.password(class="input-field") }}

            {{ form.submit(class="button") }}
        </form>
        <br>
        <a href="/login">Already registered? Login</a>
    </div>
</body>
</html>
